streamlit
pandas
matplotlib

# RAG stack
langchain
langchain-community
langchain-openai
langchain-huggingface
chromadb==0.5.23
sentence-transformers
openai
torchvision
langchain-chroma==0.1.4
langchain_core


# Document loaders
pypdf
docx2txt
chardet
TextLoader
openpyxl

# Database
supabase

#Others
langchain_huggingface
langchain_openai
langchain_text_splitters
langchain_chroma
langchain_community